{% extends "transaction_secondchallenge/base.html" %}
{% block login %}
    <div style="padding-top: 5%;">
        <a style="margin-left: 85%;" href="{% url 'transaction:registration' %}">No Account Yet?</a>
    </div>
    <div style="text-align: center; padding-top: 3%;">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password"><br><br>
            <input style="margin-left: 12%;" type="submit" value="Login">
        </form>
    </div>
{% endblock %}