{% extends "transaction_secondchallenge/base.html" %}

{% block dashboard %}
{% if user.is_authenticated %}
  <div style="padding-top: 3%;">
    <h3 style="padding-left: 3%;">Hi {{ user.get_username }}!</h3>
  </div>
  <div style="padding-top: 2%;">
      {% if request.user.is_staff %}
        <a href="{% url 'transaction:notification' user.id %}" style="margin-left: 3%;">Top-Up Approval Notification</a>
      {% else %}
          <a href="{% url 'transaction:details' user.id %}" style="margin-left: 3%;">My Account</a>
          <a href="{% url 'transaction:deposit' %}" style="margin-left: 3%;">Request Deposit AUCs</a>
          <a href="{% url 'transaction:transfer' %}" style="margin-left: 3%;">Transfer Loan</a>
          <a href="{% url 'transaction:history' %}" style="margin-left: 3%;">Transaction History</a>
          <a href="{% url 'transaction:notification' user.id %}" style="margin-left: 3%;">Notification</a>
          <a href="{% url 'transaction:request_amount' %}" style="margin-left: 3%;">Request Payment</a>
      {% endif %}
      <a style="padding-left: 3%;" href="{% url 'logout' %}">Logout</a>
  </div>
{% endif %}
{% endblock %}